.site-header {
  padding: 1.6rem 0;
  font-size: 1.25rem;

  &__brand {
    flex-shrink: 0;
    margin-inline-end: 1.25rem;
    transform: translateY(0.25rem);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
  }
}
