:root {
  --white: #fff;
  --black: #000;
  --purple-0: #f3ecf8;
  --purple-1: #f0d3f8;
  --purple-2: #74188c;
  --purple-3: #450e53;
  --purple-4: #1b0e25;
  --green-0: #baf1ac;
  --green-1: #99ef86;
}
